<plugin name='gdsflex' version='0.7' grailsVersion='1.1.1 &gt; *'>
  <author>William Drai, Ford Guo</author>
  <authorEmail>william.drai@graniteds.org</authorEmail>
  <title>Integration between Grails and GraniteDS/Flex</title>
  <documentation>http://www.graniteds.org/</documentation>
  <resources>
    <resource>DefaultGraniteDSConfig</resource>
  </resources>
  <dependencies />
</plugin>