<plugin name='gdsflex' version='0.1' grailsVersion='1.1 &gt; *'>
  <author>William Drai</author>
  <authorEmail>william.drai@graniteds.org</authorEmail>
  <title>Integration between Grails and GraniteDS/Flex</title>
  <documentation>http://www.graniteds.org/</documentation>
  <resources>
    <resource>BootStrap</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>spring.resources</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies />
</plugin>